.Movies {
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
}
.movies {
  margin-bottom: 5%;
}
.Movies-in {
  background-color: #2b3149;
  color: aliceblue;
}
.divs {
  width: "500px";
  height: "400px";
}
